{% extends 'base.html.twig' %}

{% block body %}
    <h3>Admin Control Panel All Blogs</h3>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Text</th>
            <th>User</th>
            <th>Date</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for b in blog %}
            <tr>
                <td>{{ b.id }}</td>
                <td>{{ b.title }}</td>
                <td>{{ b.text |length >200 ? b.text |slice(0,50) ~ '...': b.text }}</td>
                <td>{{ b.user.username }}</td>
                <td>{{ b.date|date('d-m-y') }}</td>
                <td><a href="#">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}