{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}
{% block body %}
    <h3>Admin Control Panel All Blogs</h3>
    <a href="{{ path('admin_page') }}">Return to control panel</a>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Text</th>
            <th>User</th>
            <th>Date</th>
            <th>Active</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for b in blog %}
            <tr>
                <td>{{ b.id |escape }}</td>
                <td>{{ b.title |escape }}</td>
                <td>{{ b.text |length >200 ? b.text |slice(0,50) ~ '...': b.text|escape }}</td>
                <td>{{ b.user.username |escape }}</td>
                <td>{{ b.date|date('d-m-y')|escape }}</td>
                <td>
                    {% if b.active == true %}
                        <form action="{{ path('blogOff', {'blog_id': b.id |escape}) }}" method="POST" class="pull-right">
                            <button type="submit" class="btn btn-success btn-xs">On</button>
                        </form>
                    {% else %}
                        <form action="{{ path('blogOn', {'blog_id': b.id |escape}) }}" method="POST" class="pull-right">
                            <button type="submit" class="btn btn-danger btn-xs">Off</button>
                        </form>
                    {% endif %}
                </td>
                <td><a href="{{ path('deleteBlog', {'blog_id': b.id |escape}) }}"><i class="small material-icons">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}