{% extends 'base.html.twig' %}

{% block body %}
    <h3>Detail User</h3>
    {{ form_start(form) }}
    {{ form_row(form.firstname, {'value' : user.firstname}) }}
    {{ form_row(form.surname, {'value' : user.surname}) }}
    {{ form_row(form.username , {'value' : user.getnameUser}) }}
    {{ form_row(form.email , {'value' : user.email}) }}
    {{ form_row(form.roles) }}
    <button type="submit" class="btn btn-primary" formnovalidate>Save Changes</button>
    {{ form_end(form) }}
{% endblock body %}