{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/js/main.js') }}"></script>
{% endblock %}
{% block body %}
    <h3>Admin Control Panel</h3>
    <ul>
        <li><a href="{{ path('admin_allblogs') }}">All blogs overview</a></li>
        <li><a href="{{ path('overviewcat') }}">All categories overview</a></li>
    </ul>
    <form class="navbar-form navbar-left"  id="search-form" action="{{ path('admin_search') }}" method="POST">
        <div class="form-group">
            <input type="text" id="user-input" name="search" class="form-control" placeholder="Search" size="150">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Role</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        {% for u in user %}
            <tr>
                <td>{{ u.id }}</td>
                <td>{{ u.firstname }}</td>
                <td>{{ u.surname }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.roles[0] }}</td>
                <td><a href="{{ path('detailuser', {'user_id': u.id}) }}"><i class="small material-icons">edit</i></a>
                </td>
                <td><a href="{{ path('deleteUser', {'user_id': u.id}) }}"><i class="small material-icons">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock body %}