{% extends 'base.html.twig' %}

{% block body %}
    <div id="detailBlog">
        <img src="{{ asset('assets/vendor/img/') }}{{ blog.img }}">
        <h3>{{ blog.title }}</h3>
        <p>{{ blog.text }}</p>
        <span>{{ blog.user.firstname }} {{ blog.user.surname }} </span>
        <span>{{ blog.date|date('d-m-y') }}</span>
    </div>
{% endblock %}













