{% extends 'base.html.twig' %}

{% block body %}

    <h1>Take a look at our inspiring stories</h1>

    <div class="row">
        {% for blog in blogs %}
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="{{ asset('assets/vendor/img/') }}{{ blog.img }}" alt="...">
                    <div class="caption">
                        <h3>{{ blog.title }}</h3>
                        <p>{{ blog.text }}</p>
                        <span>{{ blog.user.firstname }} {{ blog.user.surname }} </span>
                        <span>{{ blog.date|date('d-m-y') }}</span>
                        <p><a href="#" class="btn btn-primary" role="button">Detail</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
