{% extends 'base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/vendor/js/Ajax.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
{% endblock %}
{% block body %}
    <h1>Take a look at our inspiring stories</h1>
    {% for flashMessage in app.session.flashbag.get('success') %}
        {{ flashMessage }}
    {% endfor %}
    <ul id="catList">
        {% for cat in category %}
            <li id="category"><a href="{{ path('category_page', {'categoryId': cat.id}) }}">{{ cat.name }}</a></li>
        {% endfor %}
    </ul>
    {% include 'partials/blogview.html.twig' %}
{% endblock %}
